<div class="imgs">
    <img [src]="'assets/images/book.gif'" alt="" class="mx-auto  d-block mx-auto ">
</div>


<h1 class="text-center mt-5 p-3 shadow">Book Management System</h1>
<p class="text-justify p-3">
    Proin a justo eget ex consectetur cursus quis et diam. Nam sodales leo tellus, vel dictum arcu rhoncus sed. Aenean sit amet suscipit purus, non blandit neque. Pellentesque ac nisi sed lectus hendrerit porttitor nec nec libero. Donec dignissim facilisis fringilla. Integer sit amet bibendum sapien, et varius sapien. Nullam ac porta nibh, sit amet iaculis urna. Maecenas malesuada sem felis, nec ornare tellus molestie nec. Cras pretium consequat eleifend. Nam ex nulla, consectetur non felis vel, tincidunt varius nisi. Pellentesque pellentesque vitae justo vitae sodales. Nam eu feugiat enim. Donec in ipsum ac nulla aliquam accumsan. Pellentesque at lectus vel felis pretium consequat. Nam ultricies neque eu mi egestas, sit amet faucibus nulla finibus.
</p>