<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    
        <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="''" (click)="activeNavBrand()">
            Book Management
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="''" (click)="activeNavLink($event)">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'publishers'" [queryParams]="{page:1}" (click)="activeNavLink($event)">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['books']"
                [queryParams]="{page: 1}"
                (click)="activeNavLink($event)">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'authors'" [queryParams]="{page:1}" (click)="activeNavLink($event)">Authors</a>
            </li>
            </ul>
        </div>
        </div>
</nav>